@media only screen and (min-width: 768px) {

.row {
    flex-direction: row;
    gap: 2rem;
    justify-content: center;
}

nav button {
    display: none;
}

nav a {
    padding: .7rem 1rem;
}

.menu {
    display: flex;
    gap: 16px;
}

.grid {
    grid-template-columns: repeat(3, 1fr);
}


} /* end of media query */
